<div class="panel panel-primary" *ngFor="let prod of product">
  <div class="container-md" style="background-color: darkslategray">
    <div class="panel-heading">
      <h3 class="panel-title curcubeu" style="margin-top: 2%">{{prod.Nume}}</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-10">
        <div class="row">
          <div class="col-xs-8 ">


            <div class="col-xs-8">
              <div class="row mailadreapta culoatetext">
                <div class="col-xs-6">
                  Pret
                </div>
                <div class="col-xs-6">
                  : {{prod.Pret}} lei
                </div>
              </div>
            </div>

            <div class="col-xs-8">
              <div class="row mailadreapta culoatetext">
                <div class="col-xs-6">
                  Descriere
                </div>
                <div class="col-xs-6">
                  : {{prod.Descriere}}
                </div>
              </div>
            </div>


            <div class="col-xs-8">
              <div class="row mailadreapta culoatetext">
                <div class="col-xs-6">
                  Categorie
                </div>
                <div class="col-xs-6">
                  : {{prod.Categorie}}
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>
