<div class="grid-2-rows">
  <div class="grid-2-columns">
    <img class="image" src="{{prov.URL}}" alt="Card image">
    <div fxLayout="column" fxLayoutAlign="space-between start">
      <h1 class="title">{{prov.Nume}}</h1>
      <div class="text-details">
        <p style="color: greenyellow"><strong>Pret:</strong> {{prov.Pret}} lei</p>
        <p><strong>Descriere:</strong> {{prov.Descriere}}</p>
        <p><strong>{{text1}}:</strong> {{prov.Filtru1}}</p>
        <p><strong>{{text2}}:</strong> {{prov.Filtru2}}</p>
        <p><strong>{{text3}}:</strong> {{prov.Filtru3}}</p>
        <p><strong>{{text4}}:</strong> {{prov.Filtru4}}</p>
      </div>
    </div>
  </div>
  <div class="grid-3-columns">
    <img class="thumbnail" style="cursor: pointer;" (click)="gotoproduct(i1)" src="{{product[i1].URL}}"
         alt="Card image">
    <img class="thumbnail" style="cursor: pointer;" (click)="gotoproduct(i2)" src="{{product[i2].URL}}"
         alt="Card image">
    <img class="thumbnail" style="cursor: pointer;" (click)="gotoproduct(i3)" src="{{product[i3].URL}}"
         alt="Card image">
  </div>
</div>


