<mat-grid-list cols="1" rowHeight="1:0.5">
  <mat-grid-tile>
    <mat-grid-tile-header fxLayout="row" fxLayoutAlign="center center">
      <h1>Bine ai venit pe Ieftinache!</h1>
    </mat-grid-tile-header>
    <div class="width-100 height-85 offset-top" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="-15%">
      <div class="big-text">
        <h1>Pentru a accesa site-ul trebuie sa te autentifici</h1>
      </div>
      <div>
        <h1>Daca ai deja un cont, poti da click <a mat-raised-button routerLink="login">AICI</a></h1>
      </div>
      <div>
        <h1>Daca nu, poti sa te inregistrezi dand click <a mat-raised-button routerLink="register">AICI</a></h1>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>
