<div class="container">
    <div class="row justify-content-center">
        CRUD Angular-Firebase-Test
    </div>

    <div class="form-group">       
        <input type="text" [(ngModel)]="Name" class="form-control" placeholder="Name">
    </div>

    <div class="form-group">       
        <input type="text" [(ngModel)]="Age" class="form-control" placeholder="Age">
    </div>

    <div class="form-group">       
        <input type="text" [(ngModel)]="Adress" class="form-control" placeholder="Adress">
    </div>

   
        <div>
            <img [src]="url" alt="">
        </div>
    

    <div>
        <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">
    </div>
    
    <div class="form-group">
        <button (click)="SaveMethod()" [disabled]=" !Name || !Age || !Adress || !path" class="btn btn-primary">CREATE</button>
    </div>
    <div class="form-group">
        <h4 >{{Message}}</h4>
    </div>

  
    <div class="form-group">
        <button (click)="navigate()" class="btn btn-primary">TOItem</button>
    </div>

</div>
