<div class="grid-wrapper">
  <div class="grid-tile">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{Autoturisme}}
        </mat-card-title>
        <mat-card-subtitle>
          Masini, camioane, tractoare etc
        </mat-card-subtitle>
      </mat-card-header>
      <div class="align-center">
        <img mat-card-image class="thumbnail" src="assets/img/automobile.png" style="cursor: pointer;"
             (click)="navigate(Autoturisme)">
      </div>
    </mat-card>
  </div>

  <div class="grid-tile">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{Electronice}}
        </mat-card-title>
        <mat-card-subtitle>
          Telefoane, tablete, laptop-uri, calculatoare etc.
        </mat-card-subtitle>
      </mat-card-header>
      <div class="align-center">
        <img mat-card-image class="thumbnail" src="assets/img/Electronics.png" style="cursor: pointer;"
             (click)="navigate(Electronice)"/>
      </div>
    </mat-card>
  </div>

  <div class="grid-tile">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{Imobiliare}}
        </mat-card-title>
        <mat-card-subtitle>
          Apartamente, case, terenuri etc.
        </mat-card-subtitle>
      </mat-card-header>
      <div class="align-center">
        <img mat-card-image class="thumbnail" src="assets/img/imobiliare.png" style="cursor: pointer;"
             (click)="navigate(Imobiliare)"/>
      </div>
    </mat-card>
  </div>

  <div class="grid-tile">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{Jobs}}
        </mat-card-title>
        <mat-card-subtitle>
          Programatori, mesteri, economisti etc.
        </mat-card-subtitle>
      </mat-card-header>
      <div class="align-center">
        <img mat-card-image class="thumbnail" src="assets/img/jobs.png" style="cursor: pointer;"
             (click)="navigate(Jobs)"/>
      </div>
    </mat-card>
  </div>
</div>

<br>


<div class="carousel-wrapper">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of dynamicSlides">
      <ng-template carouselSlide [id]="slide.id">
        <img class="imgClass" [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
