.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.thumbnail {
  width: 300px;
  height: 200px;
  text-align: center;
}

.align-center {
  text-align: center;
}

.carousel-wrapper {
  height: 50px;
}
