<nav class="navbar navbar-light bg-dark sticky-top">
    
    <!-- Poza si logoul aici -->
    <a class="logo" href="#">
      <img src="/assets/img/download.png" style="height: 50px">
  
    </a>
 

    <!-- Bara de cautare si butonul aici -->
    <form class="form-inline">
        <input #myinput type="search" placeholder="Search" aria-label="Search" style="width: 400px;">
        <button class="btn btn-outline-success btn-dark my-2 my-sm-0" (click)="event(myinput.value)">Search</button>
      </form>

      <form class="form-inline">
        
        <button class="btn btn-outline-success btn-dark" (click)="sprecont()">Account</button>
        <button class="btn btn-outline-success btn-dark" (click)="sprecos()">Cos</button>

        </form>

  </nav>
<router-outlet></router-outlet>