<div *ngIf="users?.length > 0">
  <ul *ngFor="let user of users; let i = index">
    <li>
      <strong>{{i}} </strong>
      <strong>ID: </strong>{{user.profile.uid}}
      <strong>PRENUME: </strong>{{user.profile.firstName}}
      <strong>NUME: </strong>{{user.profile.lastName}}
      <strong>EMAIL: </strong>{{user.profile.email}}
      <strong>PAROLA: </strong>{{user.security.password}}
    </li>
  </ul>
</div>

<div *ngIf="users?.length <= 0">
  <p><strong>NO USERS TO DISPLAY</strong></p>
</div>

<app-register></app-register>
