<div>
  <div>
    <strong>Salut <span style="color: orangered">{{nume}}</span>!</strong>
    <br>
    <strong>Adauga un anunt nou aici!</strong>
  </div>

  <div>
    <mat-form-field class="modified-width">
      <mat-label>Ce doresti sa vinzi?</mat-label>
      <input matInput type="text" [(ngModel)]="Nume">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="modified-width">
      <mat-label>Pret</mat-label>
      <input matInput type="number" [(ngModel)]="Pret">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="modified-width">
      <mat-label>Descriere</mat-label>
      <textarea matInput type="number" [(ngModel)]="Descriere"></textarea>
    </mat-form-field>
  </div>

  <div>
    <form>
      <select name="Alege categoria" (change)="modificare($event)">
        <option value="Alege categoria">Alege categoria</option>
        <option value="Imobiliare">Imobiliare</option>
        <option value="Electronice">Electronice</option>
        <option value="Autoturisme">Autoturisme</option>
        <option value="Jobs">Jobs</option>
      </select>
      <br>
    </form>
  </div>

  <br>

  <div>
    <mat-form-field class="modified-width">
      <mat-label>{{Filtru1}}</mat-label>
      <input matInput type="text" [(ngModel)]="Filtru1">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="modified-width">
      <mat-label>{{Filtru2}}</mat-label>
      <input matInput type="text" [(ngModel)]="Filtru2">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="modified-width">
      <mat-label>{{Filtru3}}</mat-label>
      <input matInput type="text" [(ngModel)]="Filtru3">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="modified-width">
      <mat-label>{{Filtru4}}</mat-label>
      <input matInput type="text" [(ngModel)]="Filtru4">
    </mat-form-field>
  </div>

  <div>
    <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">
  </div>

  <br>

  <button mat-raised-button (click)="create()" [disabled]="!Nume || !Pret || !Descriere || !Categorie">
    CREATE
  </button>
  <h4>{{Message}}</h4></div>
