



<div class="container-md">
  <div class="row">
    <div class="col-sm-4">
    <div class="col-sm-7">
      <ng-container *ngIf="prod">
      <div class="titlu double ">{{prod.Nume}}</div>
</ng-container>
      <ng-container *ngIf="prod">
      <div class=" ods rosiatic">Pret: {{prod.Pret}} lei</div>
      </ng-container>
        <ng-container *ngIf="prod">
      <div class="ods rosiatic">Descriere: {{prod.Descriere}}</div>
        </ng-container>
          <ng-container *ngIf="prod">
      <div class=" ods rosiatic">Filtru1: {{prod.Filtru1}}</div>
          </ng-container>
            <ng-container *ngIf="prod">
      <div class=" ods rosiatic ">Filtru2: {{prod.Filtru2}}</div>
            </ng-container>
      <ng-container *ngIf="prod">
        <div class=" ods rosiatic">Filtru3: {{prod.Filtru3}}</div>
      </ng-container>
      <ng-container *ngIf="prod">
        <div class=" ods rosiatic ">Filtru4: {{prod.Filtru4}}</div>
      </ng-container>

      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
<form #myform="ngForm" (ngSubmit)="submitForm(myform.value)">
  <div class="form-group text-center rosiatic titlu">
    <label>Nume nou</label>
    <div class="container-sm">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">

          <input  name="Nume"  ngModel type="text" [(ngModel)]="product.Nume"  class="form-control text-center font-weight-bold">
        </div>
        <div class="col-sm-3">
        </div>


      </div>
    </div>

    <label>Pret nou</label>
    <div class="container-sm">
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-md-6">
          <input  name="Pret" ngModel type="number" [(ngModel)]="product.Pret" class="form-control text-center font-weight-bold">
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>


    <label>Descriere noua</label>
    <div class="container-md">
      <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-md-6">
          <input  name="Descriere" ngModel type="text" [(ngModel)]="product.Descriere"  class="form-control text-center font-weight-bold">
        </div>
        <div class="col-sm-3">

        </div>
      </div>
    </div>

    <label>Filtru1</label>
    <div class="container-md">
      <div class="row">



        <div class="col-sm-3"></div>
        <div class="col-md-6">
          <input  name="Filtru1" ngModel type="text" [(ngModel)]="product.Filtru1"  class="form-control text-center font-weight-bold">
        </div>
      </div>
    </div>

    <label>Filtru2</label>
    <div class="container-md">
      <div class="row">



        <div class="col-sm-3"></div>
        <div class="col-md-6">
          <input  name="Filtru2" ngModel type="text" [(ngModel)]="product.Filtru2"  class="form-control text-center font-weight-bold">
        </div>
      </div>
    </div>

    <label>Filtru3</label>
    <div class="container-md">
      <div class="row">



        <div class="col-sm-3"></div>
        <div class="col-md-6">
          <input  name="Filtru3" ngModel type="text" [(ngModel)]="product.Filtru3"  class="form-control text-center font-weight-bold">
        </div>
      </div>
    </div>

    <label>Filtru4</label>
    <div class="container-md">
      <div class="row">



        <div class="col-sm-3"></div>
        <div class="col-md-6">
          <input  name="Filtru4" ngModel type="text" [(ngModel)]="product.Filtru4"  class="form-control text-center font-weight-bold">
        </div>
      </div>
    </div>



    <div class="panel-footer text-center">
      <input style="margin-top: 2%; border-radius: 20px; background-color: red; color: wheat" type="submit" value="Edit" />
    </div>

  </div>

