<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Proiect PDSS <i>Aici o sa si faca Mircea treaba si o sa scrie </i> un roman in care o sa explice cum am lucrat ca idee idk</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categorii</h6>
          <ul class="footer-links">
            <li><a href="#">Imobiliare</a></li>
            <li><a href="#">Electronice</a></li>
            <li><a href="#">Servicii</a></li>
            <li><a href="#">Autoturisme</a></li>
            
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Proiect Pdss Ovi Darius Mircea
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
                <img src="/assets/img/automobile.png" style="height: 50px">
            </li>
            <li>
                <img src="/assets/img/Electronics.png" style="height: 50px">
            </li>
            <li>
                <img src="/assets/img/imobiliare.png" style="height: 50px">
            </li>
            <li>
                <img src="/assets/img/jobs.png" style="height: 50px">
            </li>   
          </ul>
        </div>
      </div>
    </div>
</footer>