<form [formGroup]="loginForm" (ngSubmit)="onLogIn()">
  <div>
    <mat-form-field class="modified-width">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" id="email">
    </mat-form-field>
  </div>
  <div *ngIf="emailControl.touched">
    <div *ngIf="emailControl.hasError('required')">
      <p>Trebuie sa introduci o adresa de email!</p>
    </div>
    <div *ngIf="emailControl.hasError('email')">
      <p>Trebuie sa introduci o adresa de email valida!</p>
    </div>
  </div>

  <div>
    <mat-form-field class="modified-width">
      <mat-label>Parola</mat-label>
      <input matInput type="password" formControlName="password" id="password">
    </mat-form-field>
  </div>
  <div *ngIf="passwordControl.touched">
    <div *ngIf="emailControl.hasError('required')">
      <p>Trebuie sa introduci o parola!</p>
    </div>
  </div>

  <button mat-raised-button color="primary" placeholder="Log in" [disabled]="!isFormValid()">LOG IN</button>
</form>
<br>
<button mat-raised-button color="accent" (click)="onLogInWithGoogle()">LOG IN WITH GOOGLE</button>






