<mat-toolbar class="navbar">
  <div>
    <a mat-button class="logo" routerLink="/home">Ieftinache</a>
  </div>
  <div *ngIf="user$ | async">
    <a mat-button routerLink="/home">ACASA</a>
    <a mat-button routerLink="/store">PRODUSE</a>
    <a mat-button routerLink="/info">DESPRE</a>
  </div>
  <span class="flexExpand"></span>
  <ng-template #entry>
    <div>
      <a mat-button routerLink="/login">INTRA IN CONT</a>
      <a mat-button routerLink="/register">INREGISTRARE</a>
    </div>
  </ng-template>
  <div *ngIf="user$ | async as user; else entry">
    <a>{{user.displayName}}</a>
    <a mat-button routerLink="admin" *ngIf="isAdmin">ADMIN</a>
    <button mat-button color="warn" (click)="onLogOut()">LOG OUT</button>
  </div>
</mat-toolbar>



