<div class="card-group">
    <div class="card bg-primary">
        <img class="imgClass center " src="../../../assets/img/automobile.png" style="cursor: pointer;"(click)="navigate(Autoturisme)"/>
      <div class="card-body text-center">
       <div class="sizefortextandstuff"> {{Autoturisme}} </div>
    </div>
    </div>
   
    <div class="card bg-warning">
        <img class="imgClass center" src="../../../assets/img/Electronics.png" style="cursor: pointer;"(click)="navigate(Electronice)"/>
      <div class="card-body text-center">
        <p class="card-text sizefortextandstuff">{{Electronice}}</p>
    </div>
    </div>

    <div class="card bg-success">
        <img class="imgClass center" src="../../../assets/img/imobiliare.png" style="cursor: pointer;"(click)="navigate(Imobiliare)"/>
      <div class="card-body text-center">
        <p class="card-text sizefortextandstuff">{{Imobiliare}}</p>
    </div>
    </div>

    <div class="card bg-danger">
        <img class="imgClass center" src="../../../assets/img/jobs.png" style="cursor: pointer;"(click)="navigate(Jobs)"/>
      <div class="card-body text-center">
        <p class="card-text sizefortextandstuff">{{Jobs}}</p>
    </div>
    </div>

  </div>
  
<div class="delay center">
  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of dynamicSlides">
      <ng-template carouselSlide [id]="slide.id">
        <img class="sizeprof" [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
      </ng-template>
    </ng-container>
  
  </owl-carousel-o>

</div>  